
@model TransaccionActualizacionViewModel
@{
    ViewData["Title"] = "Editar Transacción";
    var linkCancelar = Model.UrlRetorno ?? Url.Action("Index");
}

<h1>Editar Transacción</h1>

<section>
    <form asp-controller="Transacciones" asp-action="Actualizar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="MontoAnterior" />
        <input type="hidden" asp-for="CuentaAnteriorId" />
        <input type="hidden" asp-for="UrlRetorno" />
        <div class="mb-3">
            <label asp-for="FechaTransaccion" class="form-label"></label>
            <input asp-for="FechaTransaccion" class="form-control" />
            <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CuentaId" class="form-label"></label>
            <select class="form-select" asp-for="CuentaId" asp-items="Model.Cuentas"></select>
            <span asp-validation-for="CuentaId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TipoOperacionId" class="form-label"></label>
            <select class="form-select" asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()"></select>
            <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoriaId" class="form-label"></label>
            <select class="form-select" asp-for="CategoriaId" asp-items="Model.Categorias"></select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Monto" class="form-label"></label>
            <input asp-for="Monto" class="form-control" />
            <span asp-validation-for="Monto" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Nota" class="form-label"></label>
            <textarea asp-for="Nota" class="form-control"></textarea>
            <span asp-validation-for="Nota" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <button class="btn btn-danger" asp-action="Eliminar">Eliminar</button>
        <a href="@linkCancelar" class="btn btn-secondary">Cancelar</a>
    </form>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script>
    <script>
        const url = '@Url.Action("ObtenerCategorias")';

        $(function(){
            InicializarFormularioTransaccion(url);
        });

    </script>
}