
@{
    ViewData["Title"] = "Reporte diario de transacciones";
}

<partial name="_SubMenu" model="SubMenuTransacciones.Diario" />

<h1 class="my-3">Transacciones</h1>

<a asp-action="Crear" class="btn btn-primary my-3" >Crear nueva transacción</a>
<partial name="_ReporteTransaccionesDetalladas" model="Model" />
