@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<h1>Inicio Sesion</h1>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" asp-for="Recuerdame" />
        <label class="form-check-label" asp-for="Recuerdame"></label>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    <a class="btn btn-success" asp-action="Registro">Crear cuenta</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

