@model RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}


<h1>Registrate</h1>


<form asp-action="Registro">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email"  class="form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrate</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
