@model TipoCuenta

@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<h1>Crear tipo de cuenta</h1>
<p>
    El tipo de cuenta hace referencia a como podemos agrupar cuentas.
    Ejemplo: Prestamos, Tarjetas, etc.
</p>

<section>
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <form asp-controller="TiposCuentas" asp-action="Crear">
        <div class="mb-3">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </form>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
