@model TipoCuenta

@{
    ViewData["Title"] = "Editar Tipo Cuenta";
}

<h1>Editar Tipo Cuenta</h1>
<section>
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <form asp-controller="TiposCuentas" asp-action="Editar">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="TiposCuentas" class="btn btn-secondary">Cancelar y regresar</a>
    </form>
</section>


